body {
  margin: 0px;
  background-color: #1f1f1f;
}

img {
  border-radius: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
}

.flex-container div {
  flex: 1 1 30%;
  height: 180px;
  border-radius: 16px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f4f4f;
}
