body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  margin-top: 200px;
  width: 5.79cm;
  height: 5.79cm;
}
.container2 {
  position: absolute;
  width: 5.79cm;
  height: 5.79cm;
  background-color: #3ca2dd;
}
.container::after {
  content: "";
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  background: rgb(249, 178, 178);
  position: absolute;
  top: -65px;
  right: -50px;
  margin-top: 20px;
  transform: translateX(-100%,-150%);
} 

.container::before {
  content: "";
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  background: rgb(249, 178, 178);
  position: absolute;
  top: -65px;
  left: -50px;
  margin-top: 20px;
  transform: translateX(-100%,-150%);
  z-index: 1;
} 

 .container2::after {
  content: "";
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  background: rgb(249, 178, 178);
  position: absolute;
  bottom: -65px;
  right: -50px;
  margin-top: 20px;
  transform: translateX(-100%,-150%);
} 

.container2::before {
  content: "";
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  background: rgb(249, 178, 178);
  position: absolute;
  bottom: -65px;
  left: -50px;
  margin-top: 20px;
  transform: translateX(-100%,-150%);
} 
